:root{
  --orange: #e27900;
  --orangergb: 226, 121, 0;
  --aquargb: 0, 255, 255;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #e27900;
}

img {
  /* Responsive images by default */
  height: auto;
  max-width: 100%;
  user-select: none;
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  letter-spacing: 0.4rem;
}

@media only screen and (min-width: 48em) {
  h1{
    font-size: 5.5rem;
  }
}

h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 48em) {
  h3{
    font-size: 3rem;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
 }

.App {
  height: 100vh;
  width: 100vw;
}

.container{
  padding: 1rem;
}

@media only screen and (min-width: 48em) {
  .container{
    max-width: 120rem;
    margin: auto;
    padding: 5rem;
  }
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-display{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-height: 20rem;
  min-width: 20rem;
  height: 35vh;
  width: 35vh;
  margin: auto;
  border: 0.3rem solid var(--orange);
  box-shadow: 0 0 10px var(--orange);
}

/* 00:00 hand indicator */
.time-display::before{
  position: absolute;
  inset: 0;
  top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  content: "";
  height: 2rem;
  width: 0.5rem;
  width: 0; 
  height: 0; 
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 1.5rem solid aqua;
}

.time-phase{
  position: absolute;
  top: 18%;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

.time{
  font-size: 6.5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2rem;
}

.time.final-countdown {
  padding: 0.4rem;
  font-size: 10rem;
  border-radius: 50%;
}

.time-indicator{
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(0deg);
  transition: all 1s linear;
  border-radius: 50%;
}

.time-indicator.active{
  animation: orange-pulse 1s infinite;
}

@keyframes orange-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--orangergb), 0.7);
  }
  
  70% {
    box-shadow: 0 0 0 30px rgba(var(--orangergb), 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(var(--orangergb), 0);
  }
}

/* Orbiting indicator */
.time-indicator::after{
  position: absolute;
  inset: 0;
  top: -1.2rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-color: aqua;
  border-radius: 50%;
  box-shadow: 0 0 10px aqua;
}

.timer-btns{
  margin: 4rem auto 0;
}

.timer-btns button {
  /* width: 4.5rem; */
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
}

.timer-btns button img {
  width: 3.5rem;
}

@media only screen and (min-width: 48em) {
  .timer-btns button img {
    width: 4rem;
  }
}

.timer-btns button:nth-of-type(2n){
  margin-left: 1rem;
}

.timer-btns button:hover{
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}

.timer-btns button:active{
  transform: scale(0.95);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
}

.key-instructions{
  margin-top: 4.5rem;
  display: none;
}

@media only screen and (min-width: 48em) {
  .key-instructions{
    display: block;
  }
}

.settings-controllers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 36em) {
  .settings-controllers{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.timer-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-controls span{
  margin: auto 1.5rem;
  font-size: 3rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 48em) {
  .timer-controls span{
    margin: auto 2.5rem;
    font-size: 3.5rem;
  }
}

.timer-controls button {
  background-color: transparent;
  border: none;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
  transition: all 0.1s ease-in-out;
}

.timer-controls button img {
  width: 3rem;
}

@media only screen and (min-width: 48em) {
  .timer-controls button img{
    width: 3.5rem;
  }
}

.timer-controls button:hover{
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}

.timer-controls button:active{
  transform: scale(0.95);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
}

.timer-controls button:disabled{
  opacity: 0.3;
}